.top-bar{
    height: 92px;
    background-color: #CF2B2B;
    width: 100%;
    color: #ffffff;
    padding: 0 0 0 21px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.top-bar-title{
    font-family: var(--fontHeader);
    font-size: 44px;
}

.top-bar-subtitle{
    font-size: 18px;
    line-height: 21px;
}

.menus{
    margin: 123px 0 123px 19px;
}

.menu {
    margin: 31px 0 0 0;
    max-width: calc(100% - 19px);
}

.menu-title{
    font-family: var(--fontHeader);
    font-size: 26px;
    line-height: 32px;
}

.menu-itens{
    display: flex;
    overflow-x: scroll;
}

.item {
    width: 172px;
    height: 216px;
    background-color: #ffffff;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 18px 14px 14px 14px;
    justify-content: space-between;
    margin: 18px 16px 0 0;
}

.selected-item {
    width: 172px;
    height: 216px;
    background-color: #ffffff;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
    display: flex;
    flex-direction: column;
    padding: 18px 14px 12.5px 14px;
    justify-content: space-between;
    margin: 18px 16px 0 0;
}

.item-img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

.item-title{
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
}

.item-subtitle{
    font-size: 15px;
    color: #a6a6a6;
    font-weight: 300px;
    line-height: 18px;
}

.item-value{
    font-size: 16px;
    color: #000000;
    font-weight: normal;
    line-height: 19px;
}

.botton-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 92px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-close-order{
    height: 60px;
    width: calc(100% - 40px);
    border-radius: 60px;
    border: none;
    background-color: #CBCBCB;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    color: #ffffff
}

.button-close-order-green{
    height: 60px;
    width: calc(100% - 40px);
    border-radius: 60px;
    border: none;
    background: #32B72F;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    color: #ffffff
}

.value-qtd{
    display: flex;
    justify-content: space-between;
}

.dec-qtd{
    color: #CF2B2B;
}

.add-qtd {
    color: #32B72F;
}

.review-card {
    width: calc(100% - 20px);
    padding: 30px 25px;
    background-color: #ffffff;
    border-radius: 9px;
    margin: 33px 0;
}

.button-send-order{
    width: calc(100% - 20px);
    height: 52px;
    background-color: #50D074;
    color: #ffffff;
    font-family:'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bold;
    border-radius: 52px;
}

.button-cancel-order{
    width: calc(100% - 20px);
    height: 52px;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #777777
}

.review-item{
    display: flex;
    justify-content: space-between;
}